<div class="container white black-text artist-page">
  <a href="/" class="back-home green-text">&#10229; Back to home</a>
  <h1 class="text-center">
    {{.Name}}
  </h1>
  <div class="col s12 m6">
    <img src="{{.Image}}" alt="{{.Name}}" class="artist-logo" />
  </div>
  <div class="row">
    <div class="col s12 m6">
      <h2>Members</h2>
      <ul>
        {{range .Members}}
        <li>
          <p class="collection-item">
            {{.}}
          </p>
        </li>
        {{end}}
      </ul>

      <h2>Creation Date</h2>
      <p>
        {{.CreationDate}}
      </p>

      <h2>First Album</h2>
      <p>{{.FirstAlbum}}</p>
    </div>

    <h2>Location and Dates</h2>
    <div class="col s12 white black-text">
      <ul class="collection with-header">
     
        {{range $city, $date := .DatesLocations}}
        <li class="collection-item">
          {{$city}}:
          <span class="secondary-content location">{{$date}}</span>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
