
.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .allColumns {
        width: auto;
    }
}
.content {
    background-color: #060606;
    padding: 10px;
    height: 200px;
    width: 100%;
}
.info {
    display: inline-block;
    width: auto;
    padding: 10px;
}